<section class="navbar">
  <nav>
    <a href="/"><img src="../photos/captain-clucks-logo-3.png" width="120" height="120" class="logo" /></a>
    <div>
      <a href="/" class="nav-menu-link">Home</a>
      <a href="/menu" class="nav-menu-link">Menu</a>
    </div>
  </nav>
</section>
