<section class="navbar">
  <nav>
    <img src="../photos/captain-clucks-logo-3.png" width="120" height="120" class="logo" />
    <!-- <img src="https://www.spacercreative.com/wp-content/uploads/2020/07/captain-clucks-logo-3.png" width="90" class="logo" /> -->
    <div>
      <a href="/" class="nav-menu-link">Home</a>
      <a href="/menu" class="nav-menu-link">Menu</a>
    </div>
  </nav>
</section>
