<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Captain Clucks</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <% include partials/_header %>
    <section class="hero home-hero">
      <div>
        <article>
          <h2>CAPTAIN CLUCKS</h2>
          <a href="/menu" class="abutton">Order Now!</a>
        </article>
      </div>
    </section>
    <main>
      <section class="home-wrapper">
        <article >
          <h2>Welcome to Captain Clucks!</h2>
          <h3>Free range chicken and tempting sides</h3>
          <p>Online ordering now available. Click the menu to see all the tasty options!</p>
          <br>
          <br>
          <a href="/menu" class="abutton">MENU</a>
        </article>
      </section>
      <section class="features">
        <article>
          <img src="/photos/bell.png" />
          <h3>Ready When You're Hungry</h3>
        </article>
        <article>
          <img src="/photos/chicken.png" />
          <h3>Free Range Chicken</h3>
        </article>
        <article>
          <img src="/photos/yummy.png" />
          <h3>Incredibly<br/> Yummy</h3>
        </article>
      </section>
    </main>
    <img src="../photos/map2.jpg" class="map-image" width="100%"/>
  </body>

  <% include partials/_footer %>
</html>
