<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order Confirmation</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <% include partials/_header %>
    <main>
      <section class="confirmed-wrapper">
        <article >
          <h3>Cluck cluck! Thanks <%= confirmedOrder.user_name %>, your order has been confirmed!</h3>
          <p>Please pickup your order in <%= confirmedOrder.status %> minutes</p>
          <p>Order ID: <%= confirmedOrder.id %></p>
        </article>
      </section>
    </main>
  </body>

  <% include partials/_footer %>
</html>
